<div class="w-full max-w-sm bg-white border overflow-hidden border-gray-200 rounded-lg shadow-sm">
    <div class="px-3 py-2.5 md:p-4 overflow-hidden" [routerLink]="['/product-details',cardDetails._id]">
        <img class="p-1 rounded-t-lg h-[150px] mx-auto" [src]='cardDetails.imageCover' alt="product image" />
        <div class="pb-1">
            <h5 class="text-sm md:text-md font-bold tracking-tight text-gray-900 truncate">{{(cardDetails.title | uppercase).split(' ').slice(0,3).join(' ')}}</h5>
            <h4 class="text-sm md:text-md font-semibold tracking-tight text-gray-900">{{cardDetails.category.name}}</h4>
        </div>
        <div class="flex items-center mt-1 mb-1.5">
            <div class="flex items-center rtl:space-x-reverse">
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
            </div>
            <span
                class="bg-green-00 text-green-800 text-xs font-semibold md:px-2.5 py-0.5 rounded-sm md:ms-3 ms-auto">{{cardDetails.ratingsAverage}}</span>
        </div>

        <div class="flex items-center space-x-3">
            <button (click)="addProduct(cardDetails._id); $event.stopPropagation(); $event.preventDefault()"
                class="flex cursor-pointer items-center justify-center flex-1 text-grey-600 hover:text-grey-800 md:font-medium font-small py-2.5 md:px-4 px-2 rounded-lg hover:bg-gray-200">
                <i class="fas fa-shopping-cart mr-2"></i>
                {{'productDetails.AddToCart' | translate}}
            </button>
            <button (click)="addProductToWishList(cardDetails._id); $event.stopPropagation(); $event.preventDefault()"
                class="w-11 h-11 cursor-pointer flex items-center justify-center bg-gray-100 hover:bg-gray-200 rounded-lg">
                <i class="fa-solid fa-heart text-gray-600"></i>
            </button>
        </div>
    </div>

</div>