<div class="w-full max-w-sm bg-white border overflow-hidden border-gray-200 rounded-lg shadow-sm">
    <div class="card px-3 py-2.5 md:p-4 overflow-hidden cursor-pointer"
        [routerLink]="['/product-details',cardDetails._id]">
        <div class="relative overflow-hidden h-[150px] mb-3">
            <img class="w-full h-full object-contain p-1 mx-auto" [src]='cardDetails.imageCover' alt="product image" />

            <!-- Hover Overlay -->
            <div
                class="image-overlay text-white absolute inset-0 bg-gray-600/60 opacity-0 transition-opacity duration-700 flex flex-col items-center justify-center hover:opacity-100">
                <i class="fa-solid fa-image text-5xl mb-3"></i>
                <h3 class="text-xl font-semibold mb-2">{{'productDetails.Click' | translate}}</h3>
            </div>
        </div>

        <div class="pb-1">
            <h5 class="text-sm md:text-md font-bold tracking-tight text-gray-900 truncate">{{(cardDetails.title |
                uppercase).split(' ').slice(0,3).join(' ')}}</h5>
            <h4 class="text-sm md:text-md font-semibold tracking-tight text-gray-900">{{'wishList.Category' |
                translate}}: {{cardDetails.category.name}}</h4>
        </div>
        <div class="flex items-center mt-1 mb-1.5">
            <span class="bg-green-100 text-green-800 text-xs font-semibold md:px-2.5 py-0.5 rounded-sm">{{'wishList.Qty'
                | translate}}: {{cardDetails.quantity}}</span>
            <span class="text-green-900 text-lg font-bold py-0.5 ms-auto">{{cardDetails.price | currency:'EGP'}}</span>
        </div>

        <div class="flex items-center space-x-3">
            <button (click)="addProduct(cardDetails._id); $event.stopPropagation(); $event.preventDefault()"
                class="flex cursor-pointer items-center justify-center flex-1 text-grey-600 hover:text-grey-800 md:font-medium font-small py-2.5 md:px-4 px-2 rounded-lg hover:bg-gray-200">
                <i class="fas fa-shopping-cart mr-2"></i>
                {{'productDetails.AddToCart' | translate}}
            </button>
            <button (click)="addProductToWishList(cardDetails._id); $event.stopPropagation(); $event.preventDefault()"
                class="w-11 h-11 cursor-pointer flex items-center justify-center bg-gray-100 hover:bg-gray-200 rounded-lg">
                <i class="fa-solid fa-heart text-gray-600"></i>
            </button>
        </div>
    </div>

</div>