<div class="container w-[95%] mx-auto my-10">
    <section class="flex flex-wrap justify-center">
        <div class="relative w-full overflow-x-auto shadow-md sm:rounded-lg">
            @if (productList.length !== 0) {
            <table class="w-full p-5 text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-16 py-3">
                            <span class="sr-only">{{'wishList.Image' | translate}}</span>
                        </th>
                        <!-- <th scope="col" class="px-16 py-3">
                                <span class="sr-only">Imagesss</span>
                            </th> -->
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Product' | translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Brand' | translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Category' | translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Description' | translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Qty' | translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Price' | translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Rating' | translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{'wishList.Action' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of productList; track $index) {
                    <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                        <td class="p-4">
                            <img [src]="item.imageCover" class="w-16 md:w-32 max-w-full max-h-full" alt="iPhone 12">
                        </td>
                        <!-- <td class="p-1">
                                <owl-carousel-o [options]="customOptions">
    
                                    @for (slide of item.images; track $index) {
                                    <ng-template carouselSlide id="$index">
                                        <img class='h-[250px]' [src]='imgUrl + slide'>
                                    </ng-template>
                                    }
    
                                </owl-carousel-o>
                            </td> -->
                        <td class="px-6 py-4 font-semibold text-gray-900">{{item.title}}</td>
                        <td class="px-6 py-4 font-semibold text-gray-900">{{item.brand.name}}</td>
                        <td class="px-6 py-4 font-semibold text-gray-900">{{item.category.name}}</td>
                        <td class="px-6 py-4 font-semibold text-gray-900">{{item.description}}</td>
                        <td class="px-6 py-4 font-semibold text-gray-900">{{item.quantity}}</td>
                        <td class="px-6 py-4 font-semibold text-gray-900">
                            {{item.price}}
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900">{{item.ratingsAverage}}</td>
                        <td class="px-6 py-4">
                            <a (click)="removeItem(item._id)"
                                class="cursor-pointer font-medium text-red-600 hover:underline">{{'wishList.Remove' | translate}}</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            } @else {
            <img src="./images/empty cart.png" class="w-[40%] mx-auto" alt="">
            }
        </div>
    </section>
</div>